.modal .tile {
    min-height: 600px;
}

.ui.modal {
    transform: translate(-50%, -50%);
    margin: 0!important;
}

#page-edit .mosaic-window-body {
    padding: 0.3rem;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-edit .mosaic-window-body .tile {
    height: 100%;
}

#page-edit .mosaic-preview {
    display: none;
}

#page-edit .mosaic-window-body .tile .tile-inner-wrapper {
    height: 100%;
}

#page-edit .mosaic-window-body .tile .tile-inner-wrapper .hero-body {
    height: 100%;
    min-width: 100px;
}

.mosaic.mosaic-blueprint-theme {
    background: none!important;
}

.mosaic-window-body>div {
    width: 100%;
}