.ui.modal label {
  margin-right: 1em;
  font-weight: 500;
}

.ui.modal .ui.input button {
  margin: 0 0.5em;
}

/* .modal {
  transform:none !important;
  transform-origin: unset!important;
} */

.ui.modal .ui.input > input {
  padding: 0.5em;
}

.ui.button svg {
  margin: 0 !important;
}

.ui.modal .actions .button {
  margin-left: 0.75em;
  border-radius: 4px;
}

.ui.modal .ui.vertical.menu .item {
  display: flex;
  margin: 0;
  font-weight: normal;
}

.ui.modal .ui.vertical.menu .active.item {
  font-weight: 600;
}

.ui.modal .ui.vertical.menu {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  height: auto;
  max-height: 150px;
}

.ui.modal .ui.vertical.menu .items {
  -webkit-flex: 1 1 auto;
  overflow-y: auto;
}

/* .ui.modal .ui.vertical.menu .item:hover,
.ui.modal .ui.vertical.menu .active.item {
  background-color: rgba(0, 0, 0, 0.02);
  color: #020;
} */

.modal .block {
  min-height: 400px;
  margin-top: 1em;
}

.ui.modal {
  margin: 0 !important;
  transform: translate(-50%, -50%);
}

#page-edit .mosaic-window-body {
  position: static;
  z-index: 5;
  padding: 1rem;
  background: #ddd;
  pointer-events: none;
}

#page-edit .mosaic-window-body > * {
  pointer-events: all;
}

#page-edit .mosaic-window-body .block {
  height: 100%;
}

#page-edit .mosaic-preview {
  display: none;
}

#page-edit .mosaic-window-body .block .block-inner-wrapper {
  height: 100%;
}

#page-edit .mosaic-window-body .block .block-inner-wrapper .hero-body {
  min-width: 100px;
  height: 100%;
}

.mosaic.mosaic-blueprint-theme {
  background: none !important;
}

.mosaic-window-body > div {
  width: 100%;
}

.mosaic-window > .mosaic-window-toolbar.draggable {
  /* display: none!important; */

  position: absolute;
  width: 100%;
  height: 100% !important;
}

.mosaic-window > .mosaic-window-toolbar.draggable .mosaic-window-title {
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mosaic-window > .mosaic-window-toolbar .mosaic-window-controls {
  display: none !important;
}

.block-selector .menu{
  height: 200px;
}


.view-editview .react-grid-item:not(.react-grid-placeholder) {
  overflow: auto;
  border: 2px solid white;
  background: #fafafa;
  padding-bottom: 7px;

  /* border: 1px solid #ddd; */
}


.ui.upward.dropdown > .menu {
  overflow: auto;
}

.react-grid-layout.mosaic-edit-layout .ui.grid{
  height: 100%;
  margin: 0 !important;
}




.react-grid-layout.mosaic-edit-layout .ui.grid .row .column:first-child {
  /* border: 1px solid #ddd; */
  margin-right: -1px;
}


.react-grid-layout.mosaic-edit-layout .ui.grid > .row {
  padding: 0;
}

.react-grid-layout.mosaic-edit-layout .ui.grid > .row:first-child {
  padding: 0;
  margin-bottom: -1px;
}

.column.gridDragColumn {
  cursor: pointer;
  transition: background-color 200ms;
}

.column.gridDragColumn:hover {
  background-color: #ddd;
}


.react-grid-item.react-draggable > .block-edit-wrapper {
  height: 100%;
  background-color: rgba(0, 128, 0, 0.1);
  -webkit-box-shadow: inset 0px 0px 8px 0px rgb(210,210,210);
  -moz-box-shadow: inset 0px 0px 8px 0px rgb(210,210,210);
  box-shadow: inset 0px 0px 8px 0px rgb(210,210,210);
}

.react-grid-item.react-draggable > .empty {
  background-color: rgba(128,0,0,0.1);
}

.block-info-data {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* sizing policies */
/* see https://leaverou.github.io/css3patterns/#microbial-mat */
/* for more */
.block-edit-fill-space {
  /* background-image: linear-gradient(45deg, #D6A3AC 16.67%, #e0d0d0 16.67%, transparent 33.33%, #e0d0d0 33.33%, #e0d0d0 50%, #d6a3ac 50%, #d6a3ac 66.67%, #97b8cc 66.67%, #97b8cc 83.33%, #e0d0d0 83.33%, #e0d0d0 100%); */
  /* background-size: 6px 6px; */
  background: radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
              radial-gradient(at 100% 100%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px), #8a3;
  background-size: 20px 20px;
}

.block-edit-manual {
  /* background-image: linear-gradient(45deg, #B2A2CD 25%, transparent 25%, transparent 50%, #B2A2CD 50%, #B2A2CD 75%, #5F5370 75%, #5F5370 100%); */
  /* background-size: 6px 6px; */
  /* background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, */
  /*   linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, */
  /*   linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, */
  /*   linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, */
  /*   linear-gradient(90deg, #1b1b1b 10px, transparent 10px), */
  /*   linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424); */

  /* background: */
  /*   radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent), */
  /*   radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent) 50px 50px, */
  /*   linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px, */
  /*   linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0; */
  background-color: slategray;
  background-size:20px 20px, 20px 20px, 4px 4px, 4px 4px;
  color: white;

  /* background-color: #131313; */
  /* background-size: 20px 20px; */
}

.block-edit-fit-content {
  background-image: linear-gradient(45deg, #98cd8d30 25%, #f6f0cf30 25%, #f6f0cf30 50%, #98cd8d30 50%, #98cd8d30 75%, #f6f0cf30 75%, #f6f0cf30 100%);
  background-size: 6px 6px;
}

.block-edit-min-height {
  /* background-image: linear-gradient(45deg, #F6F0CF 25%, transparent 25%, transparent 50%, #B2A2CD 50%, #B2A2CD 75%, #5F5370 75%, #5F5370 100%); */
  /* background-size: 6px 6px; */
  background-color: #6d695c;
  background-image:
    repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
    linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-size: 70px 120px;
}

.block-uuid-info {
  position: absolute;
  right: 1rem;
  bottom: 0.6rem;
  color: gray;
  font-size: smaller;
}
.block-size-info {
  position: absolute;
  bottom: 0.6rem;
  left: 1rem;
  font-size: smaller;
  color: gray;
}

.block-container p {
  margin: 0;
}

.layout-preview {
  background: gray;
  border: 6px solid gray;
  padding: 6px;
  transform: scale(0.5) translate(-50%,-50%);
}

.zoom-100 {
  transform: scale(1) translate(0, 0);
}

.zoom-50 {
  transform: scale(.5) translate(-50%, -50%);
}

.zoom-75 {
  transform: scale(.75) translate(-17%, -17%);
}

.zoom-25 {
  transform: scale(.25) translate(-150%, -150%);
}
#field-zoom-mosaic button {
  padding: 0 !important;
}

#layout-preview-lg {
  width: 1573px !important;
}

#layout-preview-md {
  /* width: 1230px !important; */
  width: 1109px !important;
}

#layout-preview-sm {
  /* for some reasone need to add 24px, probably padding and border */
  /* width: 792px !important; */
  width: 743px;
}
#layout-preview-xs {
  width: 504px !important;
}
#layout-preview-xxs {
  width: 484px !important;
}
.block-chooser {
  top:unset;
  left: 0;
  bottom: 100%;
}
