#page-document .mosaic-block,
.mosaic-preview-body .mosaic-block {
  margin: 0;
}

#page-document .mosaic-window-toolbar,
.mosaic-preview-body .mosaic-window-toolbar {
  display: none!important;
}

#page-document .mosaic-window-body,
.mosaic-preview-body .mosaic-window-body {
  background: none!important;
  border: none!important;
}

#page-document .mosaic-preview,
.mosaic-preview-body .mosaic-preview {
  display: none!important;
  ;
}

#page-document .mosaic-drop-target,
.mosaic-preview-body .mosaic-drop-target {
  background: none!important;
  box-shadow: none!important;
  border-radius: 0;
}

#page-document .mosaic-window-additional-actions-bar,
.mosaic-preview-body .mosaic-window-additional-actions-bar {
  display: none!important;
  ;
}

#page-document .mosaic-split,
.mosaic-preview-body .mosaic-split {
  display: none!important;
}

#page-document .block-container,
.mosaic-preview-body .block-container {
  height: 100%;
}

.block-container p:empty:before {
  content: ' ';
  white-space: pre;
}

.drop-shadow-tile.type-text {
  padding: 10px;
}